/* CODE HIGHLIGHT */
.post-content pre code,
.post-content .highlight:not(table),
.post-content .highlight table
 {
    border-radius: 16px;
    padding: 16px;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background: unset !important;
    background-color: var(--code-bg) !important; /* support light/dark */
    color: var(--secondary) !important; /* support light/dark */
}

/* FONT */

@font-face {
  font-family: myFont;
  src: url(./RobotoSlab-Regular.ttf);
}
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"); */

h1,h2,h3,h4,h5 {
  font-family: myFont;
}

p {
  font-family: "Arial";
  line-height: 26px;
}

/* a */
/* h1 { */
/* font-family: "Times New Roman", Times, serif; */
/* text-transform: uppercase; */
/* color: #000000; */
/* text-decoration: underline; */
/* text-decoration-color: rgb(198, 198, 198); */
/* text-decoration-thickness: 4px; */
/* padding-bottom: 44px; */
/* } */

/* h1 { */
/* color: #132b3e; */
/* } */

/* @media (prefers-color-scheme: dark) {
  h3 {
    color: #d6d6d6;
  }
}

@media (prefers-color-scheme: light) {
  h3 {
    color: #474747;
  }
} */
