pre,
code {
  border-radius: 16px
}
/* a */
/* h1 { */
/* font-family: "Times New Roman", Times, serif; */
/* text-transform: uppercase; */
/* color: #000000; */
/* text-decoration: underline; */
/* text-decoration-color: rgb(198, 198, 198); */
/* text-decoration-thickness: 4px; */
/* padding-bottom: 44px; */
/* } */

/* h1 { */
/* color: #132b3e; */
/* } */

/* @media (prefers-color-scheme: dark) {
  h3 {
    color: #d6d6d6;
  }
}

@media (prefers-color-scheme: light) {
  h3 {
    color: #474747;
  }
} */
